# Data and model artifacts
/classification-base/data/
/classification-base/models/
/classification-base/lightning_logs/
/models/
/.idea/

# Merged image datasets (too large for git)
/laptops-merged/
/mac-merged/

# OS files
.DS_Store
*.DS_Store

# HuggingFace cache
.cache/

# Byte-compiled Python files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# Celery beat schedule file
celerybeat-schedule

# Django stuff:
*.log
local_settings.py
db.sqlite3

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# Pytest
.cache/

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# End Standard Python Ignoring #
/covid-segmantation/data/
/classification-base/lightning_logs/version_0/checkpoints/epoch=49-step=3200.ckpt
/classification-base/lightning_logs/version_0/hparams.yaml
/classification-base/lightning_logs/version_0/metrics.csv
/classification-base/lightning_logs/version_1/checkpoints/epoch=0-step=42.ckpt
/classification-base/lightning_logs/version_1/hparams.yaml
/classification-base/lightning_logs/version_1/metrics.csv
/classification-base/lightning_logs/version_2/checkpoints/epoch=14-step=630.ckpt
/classification-base/lightning_logs/version_2/hparams.yaml
/classification-base/lightning_logs/version_2/metrics.csv
/classification-base/lightning_logs/version_3/checkpoints/epoch=4-step=210.ckpt
/classification-base/lightning_logs/version_3/hparams.yaml
/classification-base/lightning_logs/version_3/metrics.csv
/classification-base/lightning_logs/version_4/checkpoints/epoch=4-step=210.ckpt
/classification-base/lightning_logs/version_4/hparams.yaml
/classification-base/lightning_logs/version_4/metrics.csv
/classification-base/lightning_logs/version_5/checkpoints/epoch=4-step=210.ckpt
/classification-base/lightning_logs/version_5/hparams.yaml
/classification-base/lightning_logs/version_5/metrics.csv
/classification-base/lightning_logs/version_6/checkpoints/epoch=4-step=210.ckpt
/classification-base/lightning_logs/version_6/hparams.yaml
/classification-base/lightning_logs/version_6/metrics.csv
/classification-base/lightning_logs/version_7/hparams.yaml
/classification-base/lightning_logs/version_8/checkpoints/epoch=4-step=55.ckpt
/classification-base/lightning_logs/version_8/hparams.yaml
/classification-base/lightning_logs/version_8/metrics.csv
/classification-base/lightning_logs/version_9/checkpoints/epoch=9-step=110.ckpt
/classification-base/lightning_logs/version_9/hparams.yaml
/classification-base/lightning_logs/version_9/metrics.csv
/classification-base/lightning_logs/version_10/hparams.yaml
/classification-base/lightning_logs/version_11/checkpoints/epoch=9-step=110.ckpt
/classification-base/lightning_logs/version_11/hparams.yaml
/classification-base/lightning_logs/version_11/metrics.csv
/classification-base/lightning_logs/version_12/checkpoints/epoch=9-step=110.ckpt
/classification-base/lightning_logs/version_12/hparams.yaml
/classification-base/lightning_logs/version_12/metrics.csv
/classification-base/lightning_logs/version_13/checkpoints/epoch=9-step=110.ckpt
/classification-base/lightning_logs/version_13/hparams.yaml
/classification-base/lightning_logs/version_13/metrics.csv
/classification-base/lightning_logs/version_14/checkpoints/epoch=9-step=110.ckpt
/classification-base/lightning_logs/version_14/hparams.yaml
/classification-base/lightning_logs/version_14/metrics.csv
/classification-base/lightning_logs/version_15/checkpoints/epoch=9-step=110.ckpt
/classification-base/lightning_logs/version_15/hparams.yaml
/classification-base/lightning_logs/version_15/metrics.csv
/classification-base/lightning_logs/version_16/checkpoints/epoch=9-step=110.ckpt
/classification-base/lightning_logs/version_16/hparams.yaml
/classification-base/lightning_logs/version_16/metrics.csv
/classification-base/lightning_logs/version_17/checkpoints/epoch=9-step=220.ckpt
/classification-base/lightning_logs/version_17/hparams.yaml
/classification-base/lightning_logs/version_17/metrics.csv
/classification-base/lightning_logs/version_18/checkpoints/epoch=9-step=220.ckpt
/classification-base/lightning_logs/version_18/hparams.yaml
/classification-base/lightning_logs/version_18/metrics.csv
/classification-base/lightning_logs/version_19/checkpoints/epoch=9-step=220.ckpt
/classification-base/lightning_logs/version_19/hparams.yaml
/classification-base/lightning_logs/version_19/metrics.csv
/classification-base/models/run-20251102_155957/swin-last/swin-last-20251102_160003-metrics.csv
/classification-base/models/run-20251102_155957/swin-last/swin-last-20251102_160003-metrics.png
/classification-base/models/run-20251102_155957/swin-last/swin-last-20251102_160041-f1_0.7867.pth
/classification-base/models/run-20251102_155957/swin-last/swin-last-20251102_160050-f1_0.8529.pth
/classification-base/models/run-20251102_155957/swin-last/swin-last-20251102_160058-f1_0.8932.pth
/classification-base/models/run-20251102_155957/swin-last/swin-last-20251102_160105-f1_0.8999.pth
/classification-base/models/run-20251102_155957/swin-last/swin-last-20251102_160111-f1_0.9199.pth
/classification-base/models/run-20251102_155957/swin-last/swin-last-20251102_160125-f1_0.9400.pth
/classification-base/models/run-20251102_155957/swin-last/swin-last-20251102_160138-f1_0.9533.pth
/classification-base/models/run-20251102_155957/swin-pct70/swin-pct70-20251102_160216-metrics.csv
/classification-base/models/run-20251102_155957/swin-pct70/swin-pct70-20251102_160216-metrics.png
/classification-base/models/run-20251102_155957/swin-pct70/swin-pct70-20251102_160307-f1_0.9933.pth
/classification-base/models/run-20251102_155957/test_results.csv
/classification-base/models/run-20251102_173938/resnet-pct70/resnet-pct70-20251102_173943-metrics.csv
/classification-base/models/run-20251102_173938/resnet-pct70/resnet-pct70-20251102_173943-metrics.png
/classification-base/models/run-20251102_173938/resnet-pct70/resnet-pct70-20251102_174009-f1_0.9733.pth
/classification-base/models/run-20251102_173938/resnet-pct70/resnet-pct70-20251102_174012-f1_0.9867.pth
/classification-base/models/run-20251102_173938/swin-pct70/swin-pct70-20251102_174109-metrics.csv
/classification-base/models/run-20251102_173938/swin-pct70/swin-pct70-20251102_174109-metrics.png
/classification-base/models/run-20251102_173938/swin-pct70/swin-pct70-20251102_174136-f1_0.9867.pth
/classification-base/models/run-20251102_173938/swin-pct70/swin-pct70-20251102_174142-f1_0.9933.pth
/classification-base/models/run-20251102_173938/vit-pct70/vit-pct70-20251102_174240-metrics.csv
/classification-base/models/run-20251102_173938/vit-pct70/vit-pct70-20251102_174240-metrics.png
/classification-base/models/run-20251102_173938/vit-pct70/vit-pct70-20251102_174315-f1_0.9800.pth
/classification-base/models/run-20251102_173938/vit-pct70/vit-pct70-20251102_174322-f1_0.9933.pth
/classification-base/models/run-20251102_173938/test_results.csv
/covid-segmantation/checkpoints/best_model-epoch=00-val_miou=0.172.ckpt
/covid-segmantation/checkpoints/best_model-epoch=01-val_miou=0.165.ckpt
/covid-segmantation/checkpoints/best_model-epoch=01-val_miou=0.553.ckpt
/covid-segmantation/checkpoints/best_model-epoch=02-val_miou=0.244.ckpt
/covid-segmantation/checkpoints/best_model-epoch=02-val_miou=0.481.ckpt
/covid-segmantation/checkpoints/best_model-epoch=02-val_miou=0.608.ckpt
/covid-segmantation/checkpoints/best_model-epoch=04-val_miou=0.284.ckpt
/covid-segmantation/checkpoints/best_model-epoch=04-val_miou=0.582.ckpt
/covid-segmantation/checkpoints/best_model-epoch=05-val_miou=0.507.ckpt
/covid-segmantation/checkpoints/best_model-epoch=06-val_miou=0.551.ckpt
/covid-segmantation/checkpoints/best_model-epoch=06-val_miou=0.632.ckpt
/covid-segmantation/checkpoints/best_model-epoch=07-val_miou=0.718.ckpt
/covid-segmantation/checkpoints/best_model-epoch=11-val_miou=0.582.ckpt
/covid-segmantation/checkpoints/best_model-epoch=16-val_miou=0.622.ckpt
/covid-segmantation/checkpoints/best_model-epoch=19-val_miou=0.584.ckpt
/covid-segmantation/checkpoints/best_model-epoch=25-val_miou=0.637.ckpt
/covid-segmantation/checkpoints/best_model-epoch=27-val_miou=0.618.ckpt
/covid-segmantation/checkpoints/best_model-epoch=31-val_miou=0.515.ckpt
/covid-segmantation/checkpoints/best_model-epoch=37-val_miou=0.646.ckpt
/covid-segmantation/checkpoints/best_model-epoch=64-val_miou=0.567.ckpt
/covid-segmantation/checkpoints/best_model-epoch=69-val_miou=0.636.ckpt
/covid-segmantation/checkpoints/best_model-epoch=79-val_miou=0.589.ckpt
/covid-segmantation/checkpoints/best_model-epoch=83-val_miou=0.641.ckpt
/covid-segmantation/checkpoints/best_model-epoch=88-val_miou=0.575.ckpt
/covid-segmantation/checkpoints/best_model-epoch=121-val_miou=0.681.ckpt
/covid-segmantation/checkpoints/best_model-epoch=325-val_miou=0.667.ckpt
/covid-segmantation/logs/lightning_logs/version_0/hparams.yaml
/covid-segmantation/logs/lightning_logs/version_0/metrics.csv
/covid-segmantation/logs/lightning_logs/version_1/hparams.yaml
/covid-segmantation/logs/lightning_logs/version_1/metrics.csv
/covid-segmantation/logs/lightning_logs/version_2/hparams.yaml
/covid-segmantation/logs/lightning_logs/version_2/metrics.csv
/covid-segmantation/logs/lightning_logs/version_3/hparams.yaml
/covid-segmantation/logs/lightning_logs/version_3/metrics.csv
/covid-segmantation/logs/lightning_logs/version_4/hparams.yaml
/covid-segmantation/logs/lightning_logs/version_4/metrics.csv
/covid-segmantation/logs/lightning_logs/version_5/hparams.yaml
/covid-segmantation/logs/lightning_logs/version_5/metrics.csv
/covid-segmantation/logs/lightning_logs/version_6/hparams.yaml
/covid-segmantation/logs/lightning_logs/version_6/metrics.csv
/covid-segmantation/logs/lightning_logs/version_7/hparams.yaml
/covid-segmantation/logs/lightning_logs/version_7/metrics.csv
/covid-segmantation/logs/lightning_logs/version_8/hparams.yaml
/covid-segmantation/logs/lightning_logs/version_8/metrics.csv
/covid-segmantation/logs/lightning_logs/version_9/hparams.yaml
/covid-segmantation/logs/lightning_logs/version_9/metrics.csv
/covid-segmantation/logs/lightning_logs/version_10/hparams.yaml
/covid-segmantation/logs/lightning_logs/version_11/hparams.yaml
/covid-segmantation/logs/lightning_logs/version_11/metrics.csv
/covid-segmantation/logs/lightning_logs/version_12/hparams.yaml
/covid-segmantation/logs/lightning_logs/version_12/metrics.csv
/covid-segmantation/logs/lightning_logs/version_13/hparams.yaml
/covid-segmantation/logs/lightning_logs/version_13/metrics.csv
/covid-segmantation/logs/lightning_logs/version_14/hparams.yaml
/covid-segmantation/logs/lightning_logs/version_14/metrics.csv
/covid-segmantation/logs/lightning_logs/version_15/hparams.yaml
/covid-segmantation/logs/lightning_logs/version_16/hparams.yaml
/covid-segmantation/logs/lightning_logs/version_16/metrics.csv
/covid-segmantation/logs/lightning_logs/version_17/hparams.yaml
/covid-segmantation/logs/lightning_logs/version_17/metrics.csv
/covid-segmantation/logs/lightning_logs/version_18/hparams.yaml
/covid-segmantation/logs/lightning_logs/version_18/metrics.csv
/covid-segmantation/logs/lightning_logs/version_20/hparams.yaml
/covid-segmantation/logs/lightning_logs/version_20/metrics.csv
/covid-segmantation/logs/lightning_logs/version_21/hparams.yaml
/covid-segmantation/logs/lightning_logs/version_21/metrics.csv
/covid-segmantation/logs/lightning_logs/version_22/hparams.yaml
/covid-segmantation/logs/lightning_logs/version_22/metrics.csv
/covid-segmantation/logs/lightning_logs/version_23/hparams.yaml
/covid-segmantation/logs/lightning_logs/version_23/metrics.csv
/covid-segmantation/logs/lightning_logs/version_24/hparams.yaml
/covid-segmantation/logs/lightning_logs/version_24/metrics.csv
/covid-segmantation/logs/lightning_logs/version_26/hparams.yaml
/covid-segmantation/logs/lightning_logs/version_26/metrics.csv
/covid-segmantation/logs/lightning_logs/version_27/hparams.yaml
/covid-segmantation/logs/lightning_logs/version_28/hparams.yaml
/covid-segmantation/logs/lightning_logs/version_29/hparams.yaml
/covid-segmantation/logs/lightning_logs/version_29/metrics.csv
/covid-segmantation/logs/lightning_logs/version_30/hparams.yaml
/covid-segmantation/logs/lightning_logs/version_30/metrics.csv
/covid-segmantation/logs/lightning_logs/version_31/hparams.yaml
/covid-segmantation/logs/lightning_logs/version_31/metrics.csv
/covid-segmantation/logs/lightning_logs/version_32/hparams.yaml
/covid-segmantation/logs/lightning_logs/version_32/metrics.csv
/covid-segmantation/models/model_swinvit.pt
