[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
beautifulsoup4 = "*"
tqdm = "*"
selenium = "==3.141.0"
bing-image-downloader = "*"
scikit-learn = "*"
torch = "*"
torchvision = "*"
torchaudio = "*"
pandas = "*"
matplotlib = "*"
pyyaml = "*"
transformers = "*"
torchao = "*"

[dev-packages]

[requires]
python_version = "3.12"
python_full_version = "3.12.8"
