[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
beautifulsoup4 = "*"
tqdm = "*"
bing-image-downloader = "*"
scikit-learn = "*"
torch = "*"
torchvision = "*"
torchaudio = "*"
pandas = "*"
matplotlib = "*"
pyyaml = "*"
torchao = "*"
pytorch-lightning = "*"
torchmetrics = "*"
datasets = ">=2.20"
accelerate = ">=0.33"
evaluate = ">=0.4"
nibabel = "*"
monai = "*"
tensorboard = "*"
pytorch-ignite = "*"
itk = "*"
scikit-image = "*"
gdown = "*"
lmdb = "*"
einops = "*"
mlflow = "*"
pynrrd = "*"
clearml = "*"
segmentation-models-pytorch = "*"
albumentations = "*"
torchinfo = "*"
ultralytics = "*"
transformers = "*"
termcolor = "*"

[dev-packages]

[requires]
python_version = "3.12"
python_full_version = "3.12.8"
